{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- CONTENIDO -->
<div class="buscadores">
    <section>
        <!-- Búsqueda por Año -->
        <form class="d-flex" method="get" action="{% url 'buscar' %}">
            <input class="form-control me-2 search" type="search" name="ano" placeholder="Buscar por Año" aria-label="Buscar">
            <button class="btn btn-primary ano" type="submit">Buscar</button>
        </form>

        <!-- Búsqueda por Carrera -->
        <form class="d-flex" method="get" action="{% url 'buscar' %}">
            <input class="form-control me-2 search" type="search" name="carrera" placeholder="Buscar por Carrera" aria-label="Buscar">
            <button class="btn btn-primary carrera" type="submit">Buscar</button>
        </form>
    </section>
</div>

<div class="blue special" style="margin: 200px auto 90px;">
    <div id="formulario" class="myForm">
        <h1 class="display-3 encabezados">Listado de Edificios:</h1>
        <hr>
        {% for edificio in edificios %}
            <a class="list-edif" href="{% url 'editar_edificios' edificio.numero %}">
                {{ edificio.numero }}
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
